{
  "printWidth": 80,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "semi": false,
  "useTabs": false
}
